.navi {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.2vh solid #ccc;
    gap: 8vw;
  }
  
  .navi button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  