.theme-options {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 1.5rem;
}

.theme-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1vh;
  border: 2px solid transparent;
  border-radius: 1vw;
  transition: border 0.3s ease;
}

.theme-option:hover {
  border-color: #ccc;
}

.theme-option.selected {
  border-color: #333;
}

.theme-color-box {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.theme-label {
  margin-left: 1rem;
  font-size: 0.95rem;
  text-transform: capitalize;
  color: #333;
  white-space: nowrap;
}
